<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

	<!-- 配置数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<!-- h2 -->
<!-- 		<property name="driverClassName" value="org.h2.Driver" /> -->
<!-- 		<property name="url" value="jdbc:h2:D:/rainteam/h2db/r-web-vote931/db" /> -->
<!-- 		<property name="username" value="db" /> -->
<!-- 		<property name="password" value="db" /> -->
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://192.168.0.154:3306/vote?connectTimeout=3000&amp;socketTimeout=60000" />
		<property name="username" value="root" />
		<property name="password" value="root4567" />

		<property name="maxActive" value="100" />	
		<property name="maxIdle" value="30" />
		<property name="maxWait" value="1000" />
		<property name="defaultAutoCommit" value="true" />
		<property name="validationQuery" value="select 1"></property>

		<property name="removeAbandoned" value="true"></property>
		<property name="removeAbandonedTimeout" value="180"></property>
		<property name="logAbandoned" value="true"></property>
		<property name="timeBetweenEvictionRunsMillis" value="60000"></property>
		<property name="minEvictableIdleTimeMillis" value="1800000"></property>
	</bean>

	<!-- Session Factory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<!-- 数据源 -->
		<property name="dataSource" ref="dataSource" />
		<!-- hibernate 扫描实体的路径 -->
		<property name="packagesToScan" value="com.r.*.*" />
		<!-- 一些参数 -->
		<property name="hibernateProperties">
			<props>
				<!-- hibernate方言 -->
				<prop key="hibernate.dialect"> 	org.hibernate.dialect.MySQLInnoDBDialect</prop>
<!-- 				<prop key="hibernate.dialect">org.hibernate.dialect.DB2Dialect</prop> -->
				<!-- 显示sql语句 -->
				<prop key="hibernate.show_sql">true</prop>
				<!-- 格式化sql语句 -->
				<prop key="hibernate.format_sql">false</prop>
				<!-- sql初始化行为 -->
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<!-- 当前session工厂 -->
				<prop key="hibernate.current_session_context_class">org.springframework.orm.hibernate4.SpringSessionContext</prop>
			</props>
		</property>
	</bean>
	
	<bean id="mysqlSequence" class="org.springframework.jdbc.support.incrementer.MySQLMaxValueIncrementer" >
		<property name="incrementerName" value="auto_sequence" />
		<property name="columnName" value="value" />
		<property name="cacheSize" value="1" />
		<property name="dataSource" ref="dataSource" />
	</bean>
</beans>