@CHARSET "UTF-8";

body {
	font-family: "宋体";
	font-size: 12px;
	color: #1A4885;
	margin: 0px;
}

#header {
	border: 0px solid #000000
}

/*控制與head高度*/
#content {
	/*margin-top:-16px;*/
	
}

#menu {
	width: 7px;
	float: left;
	background-color: #fff;
	border-left: 0px solid #000000;
	border-right: 0px solid #000000;
	border-bottom: 0px solid #000000;
	height: 1000px;
}

#main {
	float: left;
	margin-left: 8px;
	width: 98%;
	position: relative;
	height: 1000px;
}

#login_body {
	background: url(../image/bg.gif) repeat-x;
}

#logo_div {
	background: url(../image/logo.gif);
	width: 205px;
	line-height: 103px;
	margin-left: 60px;
	margin-top: 15px
}

.table{
	font-size: 12px;
	/*border: 1px solid #afcee4;*/
	width:100%;
	
	border-left: 1px solid #afcee4;
	border-top: 1px solid #afcee4;
	
	overflow: auto;
}
.table caption{
	border-top: 1px solid #afcee4;
	margin-bottom: 2px;
	
}

.table label{
	margin: 0px ;
	padding: 0px;
}
.table table{
	margin: 0px;
	margin-left:-10px;
	padding: 0px;
	width:101%;
	border-top: 1px solid #afcee4;
}
.table table th{
	border-bottom: 1px solid #afcee4;;
}

.titleselfTableNode{
	width: 100%;
	font-family:'宋体';
	font-size:12px; 
	font-weight: bold;
	text-align: left;
	background:url(../images/boda/rmkt1ok.gif) repeat-x;
	padding-top:5px;
    margin-bottom: -3px;
	float: left;
	color:#FFFFFF;
	
	}

.centerselfTableNode{
	float: left;
	margin-left:18px;
	margin-top: 3px;
}
.table th{
	font-size: 12px ;
	padding-top: 5px;
	padding-left: 5px;
	text-align: center;
	BACKGROUND: url(../images/boda/bg1.gif) repeat-x;
	border-bottom: 1px solid #afcee4;
	/*
	background-color: #CCE3F0;
	*/
}
.table td{
	font-size: 12px ;
	border-right: 1px solid #afcee4;
	border-bottom: 1px solid #afcee4;
	padding-top: 5px;
	padding-left: 5px;
	font-weight: lighter;
	height: 20px;
}

#ToolButton{
	text-align: center;
	width: 100%;
}

.tableButtonNo{
	background-color: transparent;
	background-image: url(../image/btn.gif);
	background-repeat: no-repeat;
	padding: 2px;
	margin-bottom:-1px;
	height:25px;
	width:70px;
	color:#FFFFFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor: hand;
	text-align: center;
}
.tableText{
	border: 1px solid #CCCCCC;
	width:50px;
}
.sumValue{
	color: #FF0000;
	font-size: 13px;
	font-weight: bolder;
}
#ToolButton a{
	font-size: 12px;
	color:#1A4885;
	text-decoration: none;
}
#ToolButton a:hover{
	text-decoration: underline;
}

.leftselfTableNode{
	margin-top:-5px;
	width:8px;
	height: 30px;
	float: left;
} 
/**
.leftselfTableNode{
	background:url(../image/left.gif) no-repeat left top;
	margin-top:-5px;
	width:8px;
	height: 30px;
	float: left;
}
**/
.centerTableNode{
	background:url(../image/center.gif) repeat-x; 
	font-family:'宋体';
	font-size:12px;
	color:#FFFFFF;
	text-align:left;
}

.rightselfTableNode{
	margin: 0;
	margin-top:-5px;
	width:8px;
	height: 30px;
	float: right;
}
/** 
.rightselfTableNode{
	background:url(../image/right.gif) no-repeat left top;
	margin: 0;
	margin-top:-5px;
	width:8px;
	height: 30px;
	float: right;
}
**/
	
.rightselfTableNode2{
	margin: 0;
	margin-top:-4px;
	width:250px;
	height: 30px;
	float: right;
}

.selfTableNodehandleClass{
	text-align: left;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
	margin: 0px;
	width: 98%;
}
.button07 {
	background-color: transparent;
	background-image: url(images/btn.gif);
	background-repeat: no-repeat;
	margin: 5px;
	padding: 5px;
	height:28px;
	width:70px;
	color:#FFFFFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor: hand;
}
.button09 {
	background-color: transparent;
	background-image: url(images/but9.gif);
	background-repeat: no-repeat;
	margin: 1px;
	padding: 2px;
	height:24px;
	width:49px;
	color:#00000;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor: hand;
}
.button10 {
	background-color: transparent;
	background-image: url(images/but10.gif);
	background-repeat: no-repeat;
	margin: 1px;
	padding: 2px;
	height:24px;
	width:100px;
	color:#00000;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor: hand;
}
.button11{
	background-color: transparent;
	background-image: url(images/but11.gif);
	background-repeat: no-repeat;
	margin: 1px;
	padding: 2px;
	height:24px;
	width:130px;
	color:#00000;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor: hand;
}
.tableRightDiv{
width:100%;
text-align: right;
}
.text-overflowtd{
	width:200px;
}
.text-overflowtd div{
	width:200px;
	height:15px;
	overflow: hidden; 
	text-overflow:ellipsis; 
}
.tableNoborder{
	border: 0px;
	width: 100%;
	
}
.tableNoborder tr{
	border: 0px;
}

.tableNoborder td{
	border: 0px;
	text-align: center;
}
.tableNoborder td input[type="text"]{
	border:1px solid #00000;
	width: 100px;
}
.tableNoborderButton{
	text-align: right;
	border:1px solid #000000;
}

.tableReport{
	font-size: 12px;
	border: 1px solid #afcee4;
	width:100%;
	
	border-left: 1px solid #afcee4;
	border-top: 1px solid #afcee4;
	
	overflow: auto;
}
.tableReport caption{
	border-top: 1px solid #afcee4;
	margin-bottom: 2px;
	
}

.tableReport label{
	margin: 0px ;
	padding: 0px;
}
.tableReport table{
	margin: 0px;
	margin-left:-10px;
	padding: 0px;
	width:101%;
	border-top: 1px solid #afcee4;
}
.tableReport table th{
	border-bottom: 0px solid #afcee4;;
}

.tableReport th{
	font-size: 12px ;
	padding-top: 5px;
	padding-left: 5px;
	text-align: center;
	BACKGROUND: url(../images/boda/bg1.gif) repeat-x;
	border-bottom: 1px solid #afcee4;
	
	background-color: #CCE3F0;
	
}


.tableReportTd_l_t_b{
	font-size: 12px ;
	border-top: 1px solid #afcee4;
	border-bottom:1px solid #afcee4;
	padding-top: 5px;
	padding-left: 5px;
	font-weight: lighter;
	height: 33px;
	word-break:break-all;
	word-wrap:break-word;
}

.tableReportTd_l_t{
	font-size: 12px ;
	border-left: 1px dashed #afcee4;
	border-top: 1px solid #afcee4;
	padding-top: 5px;
	padding-left: 5px;
	font-weight: lighter;
	height: 33px;
	word-break:break-all;
	word-wrap:break-word;
}

.tableReportTd_l_t_d{
	font-size: 12px ;
	border-left: 1px dashed #afcee4;
	border-top: 1px dashed #afcee4;
	padding-top: 5px;
	padding-left: 5px;
	font-weight: lighter;
	height: 33px;
	word-break:break-all;
	word-wrap:break-word;
}

.tableReportTd_l_t_b_d{
	font-size: 12px ;
	border-left: 1px dashed #afcee4;
	border-top: 1px dashed #afcee4;
	border-bottom : 1px solid #afcee4;
	padding-top: 5px;
	padding-left: 5px;
	font-weight: lighter;
	height: 33px;
	word-break:break-all;
	word-wrap:break-word;
}

.tableReportTd_l_t_b_l{
	font-size: 12px ;
	border-left: 1px dashed #afcee4;
	border-top: 1px solid #afcee4;
	border-bottom:1px solid #afcee4;
	padding-top: 5px;
	padding-left: 5px;
	font-weight: lighter;
	height: 33px;
	word-break:break-all;
	word-wrap:break-word;
}



#signin_div {
	background: url(../image/signin_bg.gif);
	width: 426px;
	position: absolute;
}

#top_blank_div {
	line-height: 170px;
}

.btn {
	background-color: transparent;
	background-image: url(../image/btn.gif);
	background-repeat: no-repeat;
	margin: 5px;
	padding: 5px;
	height: 28px;
	width: 70px;
	color: #FFFFFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor: hand;
}

.tableButton6 {
	background-color: transparent;
	background-image: url(../images/boda/btn6.gif);
	background-repeat: no-repeat;
	margin: 5px;
	padding: 5px;
	height: 28px;
	width: 101px;
	color: #FFFFFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor: hand;
}

/*输入文本框样式*/
.input_1 {
	width: 225px;
}

.input170 {
	width: 170px;
}

.input {
	width: 125px;
}

.input2 {
	width: 51px;
}

.input3 {
	width: 240px;
}

.input300 {
	width: 300px;
}

.input480 {
	width: 480px;
}

.input300 {
	width: 300px;
}

.input4 {
	width: 95px;
}

.short-text {
	width: 37px;
}

.short-text2 {
	width: 30px;
}

.short-text3 {
	width: 50px;
}
/*输入下拉列表框样式*/
.select {
	width: 132px;
}

.select2 {
	width: 67px;
}

.select3 {
	width: 100px;
}

.short-select {
	width: 80px;
}

.select4 {
	width: 40px;
}
/*单元格长度*/
.td_width {
	width: 40px;
}

.td_width2 {
	width: 60px;
}
/*只读文本框*/
.readonly {
	background-color: #CCCCCC;
}
/*-----颜色-----*/
/*必填项*/
.color_red {
	color: red;
}
/*制表色*/
.color_make_table {
	color: red;
}
/*回退色*/
.color_purple {
	color: blue;
}
/*锁单色*/
.color_green {
	color: green;
}
/*-----值改变控件边框颜色-----*/
.border_change {
	border-color: red;
}
/*控件不可见*/
.display_hidden {
	display: none;
}
/**只显示输入框的下边框**/
.text_line {
	background: none repeat scroll 0 0 transparent;
	border-color: #999999;
	border-left: 0 none #999999;
	border-right: 0 none #999999;
	border-top: 0 none #999999;
	border-width: 0 0 1px;
}

a:LINK {
	color: #000000;
	font-size: 12px;
	text-decoration: none;
}

a:HOVER {
	color: #0099FF;
	font-size: 12px;
	cursor: hand;
}

.overflowDiv {
	overflow: auto;
	width: 200px;
	height: 700px;
}

.topDiv {
	top: 0;
	left: 180px;
	width: 85%;
	height: 100%;
	position: absolute;
	z-index: 2;
	background: #CCCCCC;
	display: none;
	vertical-align: middle;
	filter: progid:DXImageTransform.Microsoft.Alpha(startX=0, startY=0,
		finishX=100, finishY=100, style=1, opacity=85, finishOpacity=25);
}

.ToolButton {
	padding-right: 30px;
	text-align: right;
}

.ToolButtonCenter {
	width: 100%;
	text-align: center;
}

.infoDIV {
	overflow: auto;
	width: 750px;
	height: 550px;
}

/**
 *增加css
 */
.c_t2_bg {
	background: url(../images/boda/c_t2_bg.gif) no-repeat;
	font-family: "宋体";
	font-size: 16px;
	font-weight: bold;
	margin-left: 80px;
	margin-top: 20px;
	margin-bottom: 0px;
	color: #006E85;
}

/**
  *输入框样式
  */
.input_text {
	border: 1px solid #4a9cdb;
	color: #333;
}

.input_text2 {
	border: 1px solid #b3b4b5;
	color: #333333;
	background: #dbd9d9;
}

.table_border_bot {
	border-bottom: 1px dashed #ced9eb;
	color: #336699;
	background: #e6effe;
	font-size: 12px;
}

.table input[type=text], textarea, select {
	border: 1px solid #4a9cdb;
	color: #333;
}

/* CSS Document */
/* 登录页 */
input[disabled=disabled] {
	background-color: #eee
}

select[disabled=disabled] {
	background-color: #eee
}

input[readonly=readonly] {
	background-color: #eee
}

#login_body {
	background: url(../images/boda/boy_bg.gif) repeat-x;
}

#Layer1 {
	position: absolute;
	width: 428px;
	height: 339px;
	z-index: 1;
	background: url(../images/boda/denglukuang.gif) no-repeat;
	left: 424px;
	top: 179px;
}

#Layer2 {
	position: absolute;
	width: 215px;
	height: 115px;
	z-index: 2;
	background: url(../images/boda/logo.gif) no-repeat;
	left: 52px;
	top: 16px;
}

.attachUploadButton {
	background-color: transparent;
	background-image: url(../images/boda/btn.gif);
	background-repeat: no-repeat;
	width: 70px;
	color: #FFFFFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor: hand;
}

.tableButton {
	background-color: transparent;
	background-image: url(../images/boda/btn.gif);
	background-repeat: no-repeat;
	margin: 5px;
	padding: 5px;
	height: 28px;
	width: 70px;
	color: #FFFFFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor: hand;
}

.tdright {
	text-align: right;
	padding-right: 10px;
}

.tdLeft {
	text-align: left;
	padding-left: 10px;
}

.tdcenter {
	text-align: center;
}

.tdcenterspace {
	text-align: center;
	margin-right: 150px;
}

.billTDTitle {
	width: 50px;
	text-align: left;
	padding-left: 10px;
}

.billTDvalue {
	width: 200px;
	text-align: left;
	padding-left: 10px;
}

.selectwidth {
	width: 135px;
}

.inputtextwidth {
	margin-left: 2px;
	width: 130px;
}

.inputDate {
	background: url(../js/datePicker/skin/datePicker.gif) #fff no-repeat
		right 50%;
	height: 20px;
	width: 130px;
}

.tdFormwidth {
	width: 160px;
}
/*鼠标等待样式*/
.cursor_wait {
	cursor: wait;
}
/*鼠标默认样式*/
.cursor_default {
	cursor: default;
}

.ToolButtondisplay {
	display: block;
	margin-left: 90%;
	margin-right: 10px;
	background-color: transparent;
	background-image: url(../images/boda/btn.gif);
	background-repeat: no-repeat;
	padding: 5px;
	height: 28px;
	width: 70px;
	color: #FFFFFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor: hand;
}