<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.1.xsd       
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<bean id="messageCenterContext" class="com.r.web.component.messagecenter.context.MessageCenterFactory">
		<property name="asynchronous" value="false" />
		<property name="maxThreads" value="0" />
		<property name="messagesParsers">
			<list>
				<bean
					class="com.r.web.component.messagecenter.context.rtx.MessageParserRTX">
					<property name="serviceIp" value="192.168.0.151" />
					<property name="servicePort" value="8012" />
					<property name="timeout" value="3000" />
					<property name="centontInterceptSize" value="220" />
				</bean>
				<bean
					class="com.r.web.component.messagecenter.context.htsms.MessageParserHTSMS">
					<property name="corpID" value="HTEK03720" />
					<property name="pwd" value="114477" />
					<property name="timeout" value="3000" />
				</bean>
			</list>
		</property>
	</bean>

</beans>