<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="menuContext" class="com.r.component.menu.context.MenuFactory">
		<property name="menuDescriptions">
			<list>
				<bean class="com.r.component.menu.context.MenuDescription">
					<property name="name" value="MainMenu" />
					<property name="menuLocation" value="classpath:/menu/main.xml" />
					<property name="templateLocation" value="classpath:/menu/main.template.xml" />
				</bean>
				<bean class="com.r.component.menu.context.MenuDescription">
					<property name="name" value="RainMenu" />
					<property name="menuLocation" value="classpath:/menu/rain.xml" />
					<property name="templateLocation" value="classpath:/menu/rain.template.xml" />
				</bean>
			</list>
		</property>
	</bean>
</beans>
