<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<!-- 启动调试模式,会在控制台输出一些关键信息 -->
	<!-- <debug /> -->

	<!-- 启动注解式权限控制 -->
	<!-- <global-method-security pre-post-annotations="enabled" /> -->

	<!-- 过滤掉不需要权限控制的URL,这里一般放置静态路径,因为不需要判断是否有登陆,如果需要判断,则必须在http子节点中配置 -->
	<http pattern="/res/**" security="none" />

	<!-- 配置http -->
	<http access-denied-page="/denied" auto-config="true">
		<!-- 配置权限控制URL -->
		<!-- <intercept-url pattern='/static/**' filters='none' /> -->
		<!-- <intercept-url pattern="/secure/extreme/**" access="hasRole('supervisor')" 
			/F> -->
		<!-- <intercept-url pattern="/secure/**" access="isAuthenticated()" /> -->

		<!-- 要使permitAll权限生效必须拥有 auto-config="true" use-expressions="true" 属性 -->
		<!-- 或者这样修改 access = "IS_AUTHENTICATED_ANONYMOUSLY, IS_AUTHENTICATED_FULLY, 
			IS_AUTHENTICATED_REMEMBERED" -->
		<!-- <intercept-url pattern="/**/au" access="IS_AUTHENTICATED_ANONYMOUSLY" 
			/> -->
		<intercept-url pattern="/upload" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/upload/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/**" access="IS_AUTHENTICATED_FULLY" />

		<!-- 配置登陆页面 -->
		<form-login login-page="/login" default-target-url="/main" always-use-default-target="true" />

		<!-- 配置登出页面 -->
		<logout invalidate-session="true" logout-url="/logout"
			logout-success-url="/login" delete-cookies="JSESSIONID" />

		<!-- 实现免登陆验证 ,启用后会记住登陆的session方便下次登陆.如果auto-config="true" 会自动启用 -->
		<remember-me />

		<!-- 配置session超时 -->
		<session-management invalid-session-url="/login">
			<!-- 只能允许登陆一次 -->
			<concurrency-control max-sessions="1"
				error-if-maximum-exceeded="true" />
		</session-management>

	</http>

	<!-- 自定义权限管理 -->
	<authentication-manager>
		<!-- 自定义的权限提供器 -->
		<authentication-provider ref="authenticationProvider" />
	</authentication-manager>

	<!-- 密码编码器 -->
	<beans:bean id="passwordEncoder"
		class="org.springframework.security.crypto.password.StandardPasswordEncoder" />

	<!-- 用户获取器 -->
	<beans:bean id="userDetailsService"
		class="com.r.boda.uploadservice.user.service.UserDetailsService" />

	<!-- 权限提供器 -->
	<beans:bean id="authenticationProvider"
		class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<beans:property name="userDetailsService" ref="userDetailsService" />
		<beans:property name="passwordEncoder" ref="passwordEncoder" />
		<beans:property name="hideUserNotFoundExceptions"
			value="false" />
	</beans:bean>

	<!-- 国际化.这个Bean的id是定死的，只能为“messageSource”。 -->
	<!-- <beans:bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource"> -->
	<!-- <beans:property name="basename" value="classpath:messages_zh_CN" /> -->
	<!-- </beans:bean> -->
	<!-- <beans:bean id="localeResolver" class="org.springframework.web.servlet.i18n.AcceptHeaderLocaleResolver" 
		/> -->
</beans:beans>
